.logo {
    color: white;
    font-size: 2em;
}

.cryptoCurrentPrev {
    width: 80%;
}

.flexSocials {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footerNav {
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.fa {
    margin: 10px;
}

.cryptoCurrentDesc {
    margin-top: 18px;
    text-align: left;
    color: white !important;
}

.contactMeButton {
    border-radius: 7.5px !important;
}

.social_links {
    text-align: center !important; 
    font-size: 3em;
}

@media (max-width: 1000px) {
    .slicknav_icon {
        display: none !important;
    }

    .slicknav_menu {
        display: none !important;
    }

    #sticky-header {
        display: none !important;
    }

    span::before {
        display: none;
    }

    .cryptoCurrentPrev {
        width: 100%;
    }
}

.navigations {
    margin: 0 auto !important;
}