.logo {
    color: white;
    font-size: 2em;
}

.cryptoCurrentPrev {
    width: 80%;
}

.flexSocials {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 767px) {
    .footerNav {
        justify-content: space-between;
    }
}

.fa {
    margin: 10px;
}

.cryptoCurrentDesc {
    margin-top: 18px;
    text-align: left;
    color: white !important;
}

.contactMeButton {
    border-radius: 7.5px !important;
}

.social_links {
    text-align: center !important;
    font-size: 3em;
}

@media (max-width: 991px) {
    span::before {
        display: none;
    }
}

@media (max-width: 1000px) {

    .cryptoCurrentPrev {
        width: 100%;
    }
}

@media (min-width: 801px) {
    .footerNav {
        display: none
    }
}

@media (max-width: 800px) {
    .footerNav {
        padding-top: 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .sticky {
        display: none !important;
    }
}

.navigations {
    margin: 0 auto !important;
}

.headerPicture {
    margin: 0 auto 20px auto !important;
    border-radius: 50%;
    width: 30%;
}

@media (max-width: 1200px) {
    .headerPicture {
        width: 35%;
    }
}

@media (max-width: 991px) {
    .headerPicture {
        width: 40%;
    }
}

.headerContent {
    z-index: 1;
    position: relative;
}

.tech-icon {
    font-size: 100px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.technology {
    text-align: center;
    margin: 40px;
}

@media (max-width: 600px) {
    .technology {
        margin: 20px;
    }
}

.aboutMeText {
    text-align: left;
}

.contactLink {
    color: white;
    text-decoration: underline;
}

.epicQuote {
    padding: 0px 75px;
    text-align: left !important;
}

@media (max-width: 1500px) {
    .epicQuote {
        padding: 0px 60px;
        text-align: left !important;
    }
}

@media (max-width: 1200px) {
    .epicQuote {
        padding: 0px 40px;
        text-align: left !important;
    }
}

@media (max-width: 600px) {
    .epicQuote {
        padding: 0px 0px;
        text-align: left !important;
    }
}

.projectList {
    padding-left: 8% !important;
}

.projectListItem {
    color: white !important;
    text-align: left !important;
    list-style-type: square !important;
}

.homeGrid {
    margin-left: 60%;
    margin-bottom: -10%;
}

@media (max-width: 991px) {
    .techHeader {
        text-align: center !important;
    }
}

.resumeButtonContainer {
    text-align: center;
    margin-bottom: 20px;
}

.projectCard {
    margin-bottom: 70px;
}

.frontEndeavorPic {
    width: 95%;
    max-width: 888px;
}

.firstFePic {
    margin-bottom: 20px;
}

.frontEndeavorDiagram {
    width: 80%;
    height: 600px;
}

@media (max-width: 1200px) {
    .frontEndeavorDiagram {
        width: 80%;
        height: 500px;
    }
}

@media (max-width: 1000px) {
    .frontEndeavorDiagram {
        width: 90%;
        height: 400px;
    }
}

@media (max-width: 775px) {
    .frontEndeavorDiagram {
        width: 95%;
        height: 325px;
    }
}

@media (max-width: 500px) {
    .frontEndeavorDiagram {
        width: 95%;
        height: 235px;
    }
}